{% extends 'Students/base.html' %}

{% block content %}
<div class = "container mb-5">
    <div class = "row justify-content-center mt-5">
        <div class = "col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h1>Your current Orders : </h1>
        </div>
    </div>
    <div class = "row justify-content-center mt-1">
        <div class = "col-md-10 col-sm-12 offset-md-1 p-4 text-center">
            {% if orders %}
                {% for order in orders %}
                    <h5>{{ order }}</h5>
                    <br>
                    <hr>
                {% endfor %}
                <h6>The total price is {{ totalprice }}</h6>
            {% else %}
                <h5>Cart is empty</h5>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}